<ion-header no-border>
    <top-menu></top-menu>
  </ion-header>
  
  <ion-content>
    <div class="banner" style="background-image: url('assets/images/frontpage-image-landscape.jpg');">
      <div style="color: white; position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <h1 class="text-center banner-title">{{appName}}</h1>
        <h3 class="text-center banner-subtitle">{{appSubtitle}}</h3>
      </div>
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col class="front-page-simple-search" col-lg-6 col-md-10 col-sm-12 style="max-width: 800px;">
            <simple-search [scrollableSimpleSearch]="true"></simple-search>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div style="text-align: center;" padding>
        <ion-grid>
            <ion-row>
              <ion-col class="person-text" style="max-width: 1000px; margin-left: auto; margin-right: auto;">
                <markdown [data]="homeContent"></markdown>
              </ion-col>
            </ion-row>
        </ion-grid>
    </div>
  </ion-content>
  