.tei.heading{
    font-size: 1.3rem !important;
    text-transform: none;
}

.tei.places{
    font-size: 1.0rem;
    color: #78756f;
}

read-text .places{
    font-size: 1.0rem;
    color: #78756f;
}


read-text .collections{
    font-size: 1.0rem;
    color: #78756f;
}

.tei.collections{
    font-size: 1.1rem;
    color: #78756f;
}

.tei h2{
    padding-top: 1em;
    font-size: 1.1em !important; 
}

.tei.place_name,.onki_province,.collection{
    color: #78756f;
}

read-text .place_name,.onki_province,.collection{
    color: #78756f;
}

home-page .banner::before{
	background: rgba(93, 106, 126, 0) !important;
}

home-page .banner-title{
	color: black !important;
}

home-page .banner-subtitle{
	color: #364930;
}

match {
	background-color: transparent !important;
}

read-text h1 {
	font-size: 1.3rem !important;
	text-transform: none;
}

.selected-toc-item p{
	font-weight: bold;
}